<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<div th:fragment="menu" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="main.do">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div> 메인화면
                </a>
                <a class="nav-link" href="searchForm.do">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div> 검색화면
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <!-- Add your menu items here -->
            </div>
        </div>
    </nav>
</div>
</html>